<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Twitter Yelling</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.0.min.js"></script>
  	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  </head>
  <body>
    <div id="wrapper">
    	<div id="content">
    		<h1>Twitter Yeller</h1>
    		<p>Please provide the credentials for your Twitter account that will be used to YELL – or otherwise, convert a "victim's" tweets to all CAPS. Instructions on how to find consumer and access keys can be found here. </p>
        <br>
    		<form id="email_form" name="email_form" action="/secretdatabase" method="post">
	    		<ul>
	    			<li><label>Yelling username: @</label><input type="text" name="yeller"></li>
	    			<li><label>Yelling password: </label><input type="password" name="password"></li>
	    			<li><label>Consumer key: </label><input type="text" name="consumerkey"></li>
            <li><label>Consumer secret: </label><input type="text" name="consumersec"></li>
            <li><label>Access key: </label><input type="text" name="accesskey"></li>
            <li><label>Access secret: </label><input type="text" name="accesssec"></li>
           </ul>

           
           <ul>  

            <li class="bottom"> <label>Account your bot will make fun of: @</label><input type="text" name="victim"></li>

            <li><input type="submit" value="Submit"></li>
	    		</ul>
	    	</form>
    		<!--<div class="button">button</div>-->
    	</div><!--content-->
    </div><!--wrapper-->
  </body>
</html>